---
layout: base.njk
permalink: "{{ page.fileSlug | url }}"
---
{# tags: {% if  %} #}

<div class="container">
	{# link to homepage #}
	<a href="{{ '/' | url }}">Home</a>
	
	{# problem title #}
	<h1>{{ title }}</h1>
	
	{# list tags inline #}
	<div class="tags">
		{% for tag in tags %}
			<code>{{ tag }}</code>
		{% endfor %}
	</div>

	
	<article>
		{# External Problem URL: binarysearch or Leetcode #}
		<span class="content">
			<strong>The Problem</strong>: {% mdExternalLink title, problemUrl %}

			{# add platform icon #}
			{% set lc = r/leetcode/g %}
			{% if lc.test(problemUrl) %}
				<img src="{{ '/assets/leetcode.png' | url}}"/>
			{% endif %}

			{% set bs = r/binarysearch/g %}
			{% if bs.test(problemUrl) %}
				<img src="{{ '/assets/binarysearch.png' | url}}"/>
			{% endif %}
		</span>

		{# Solution rendered from respective markdown files #}
		{{ content | safe }}
	</article>
	
	<div class="controls">
    {# navigate previous and next solution #}
    {% if prevSol.url %}
      <p>
        <strong>Previous Solution</strong>: 
        <a class="previous" href="{{ prevSol.url | url }}">{{ prevSol.data.title }}</a>
      </p>
    {% endif %}
    {% if nextSol.url %}
      <p>
        <strong>Next Solution</strong>: 
        <a class="next" href="{{ nextSol.url | url }}">{{ nextSol.data.title }}</a>
      </p>
    {% endif %}
    </div>
</div>
