---
permalink: feed.xml
eleventyExcludeFromCollections: true
layout: false
override:tags: []
metadata:
  title: Coding Problem Solutions
  subtitle: List of my solutions to some coding problems on leetcode.com and binarysearch.com
  language: en
  url: https://oneminch.dev/coding-problem-solutions/
  feedUrl: https://oneminch.dev/coding-problem-solutions/feed.xml
  author:
    name: Dawit
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" />
	<link href="{{ metadata.url }}" />
	<updated>{{
		collections.solutions | getNewestCollectionItemDate | dateToRfc3339
	}}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<!-- <github>{{ metadata.author.username }}</github> -->
	</author>
	{%- for post in collections.solutions | reverse %} {%- set absolutePostUrl =
	post.metadata.url | absoluteUrl(metadata.url) %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}" />
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content
			xml:lang="{{ metadata.language }}"
			type="html"
			>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content
		>
	</entry>
	{%- endfor %}
</feed>
