<footer>
	{# <p>{{ page.date.getFullYear() }}</p> #}
	<a href="https://github.com/oneminch"  target="_blank" rel="noopener noreferrer">
		<img src="{{ '/assets/github.svg' | url }}" alt="Github Icon" />
		oneminch
	</a>
	<a href="https://oneminch.dev"  target="_blank" rel="noopener noreferrer">
		<img src="{{ '/assets/website.svg' | url }}" alt="Website Icon" />
		Portfolio
	</a>
</footer>
</body>
</html>
